* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: sans-serif;
}

body {
    background-color: #1d2023;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 30px; 
    min-height: 100vh;
    padding: 20px;
}

h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.prompt {
    background-color: #36383d;
    padding: 10px;
    width: 100%;
    max-width: 620px; 
    border: 3px solid #36383d;
    border-radius: 10px;
    display: flex; 
    justify-content: space-between;
}

input, button {
    padding: 12px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
}

input {
    background-color: #292c31;
    width: 75%;
    outline: none;
    color: #fff;
}

button {
    background-color: #292c31;
    color: white;
    width: 22%;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #45464a;
}


.images {
    width: 100%;
    max-width: 450px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px; 
}

.images img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 5px solid #36383d;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    display: block; 
}

.images div {
    width: 100%;
    display: flex;
    justify-content: center;
}
